{% load staticfiles %}
<div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab" data-filter-list="list-group-activity">
    <div class="content-list">
        <div class="row content-list-head">
            <div class="col-auto">
                <h3>Activity</h3>
            </div>
            <form class="col-md-auto">
                <div class="input-group input-group-round">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">filter_list</i>
                        </span>
                    </div>
                    <input type="search" class="form-control filter-list-input" placeholder="Filter activity" aria-label="Filter activity" aria-describedby="filter-tasks">
                </div>
            </form>
        </div>
        <!--end of content list head-->
        <div class="content-list-body">
            <ol class="list-group list-group-activity">
                <li class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">edit</i>
                                </div>
                            </li>
                            <li>
                                <img alt="Peggy" src="{% static '/assets/img/avatar-male-4.jpg' %}" class="avatar" data-filter-by="alt" />
                            </li>
                        </ul>
                        <div class="media-body">
                            <div>
                                <span class="h6" data-filter-by="text">Peggy</span>
                                <span data-filter-by="text">added the note</span><a href="#" data-filter-by="text">Client Meeting Notes</a>
                            </div>
                            <span class="text-small" data-filter-by="text">Yesterday</span>
                        </div>
                    </div>
                </li>



                <li class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">edit</i>
                                </div>
                            </li>
                            <li>
                                <img alt="David" src="{% static '/assets/img/avatar-male-4.jpg' %}" class="avatar" data-filter-by="alt" />
                            </li>
                        </ul>
                        <div class="media-body">
                            <div>
                                <span class="h6" data-filter-by="text">David</span>
                                <span data-filter-by="text">added the note</span><a href="#" data-filter-by="text">Aesthetic note</a>
                            </div>
                            <span class="text-small" data-filter-by="text">Yesterday</span>
                        </div>
                    </div>
                </li>



                <li class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">person_add</i>
                                </div>
                            </li>
                            <li>
                                <img alt="Marcus" src="{% static '/assets/img/avatar-male-4.jpg' %}" class="avatar" data-filter-by="alt" />
                            </li>
                        </ul>
                        <div class="media-body">
                            <div>
                                <span class="h6" data-filter-by="text">Marcus</span>
                                <span data-filter-by="text">was assigned to the task</span>
                            </div>
                            <span class="text-small" data-filter-by="text">4 days ago</span>
                        </div>
                    </div>
                </li>



                <li class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">person_add</i>
                                </div>
                            </li>
                            <li>
                                <img alt="Ravi" src="{% static '/assets/img/avatar-male-4.jpg' %}" class="avatar" data-filter-by="alt" />
                            </li>
                        </ul>
                        <div class="media-body">
                            <div>
                                <span class="h6" data-filter-by="text">Ravi</span>
                                <span data-filter-by="text">was assigned to the task</span>
                            </div>
                            <span class="text-small" data-filter-by="text">5 days ago</span>
                        </div>
                    </div>
                </li>



                <li class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">playlist_add</i>
                                </div>
                            </li>
                            <li>
                                <img alt="Claire" src="{% static '/assets/img/avatar-male-4.jpg' %}" class="avatar" data-filter-by="alt" />
                            </li>
                        </ul>
                        <div class="media-body">
                            <div>
                                <span class="h6" data-filter-by="text">Claire</span>
                                <span data-filter-by="text">added to the task checklist</span>
                            </div>
                            <span class="text-small" data-filter-by="text">5 days ago</span>
                        </div>
                    </div>
                </li>



                <li class="list-group-item">
                    <div class="media align-items-center">
                        <ul class="avatars">
                            <li>
                                <div class="avatar bg-primary">
                                    <i class="material-icons">add</i>
                                </div>
                            </li>
                            <li>
                                <img alt="David" src="{% static '/assets/img/avatar-male-4.jpg' %}" class="avatar" data-filter-by="alt" />
                            </li>
                        </ul>
                        <div class="media-body">
                            <div>
                                <span class="h6" data-filter-by="text">David</span>
                                <span data-filter-by="text">started the task</span>
                            </div>
                            <span class="text-small" data-filter-by="text">6 days ago</span>
                        </div>
                    </div>
                </li>


            </ol>
        </div>
    </div>
    <!--end of content list-->
</div>